@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "IBM Plex Sans", sans-serif;
}

[dark-mode="dark"] {
  --bg-main: #16171b;
  --bg-note: #212528;
  --date: #a4a6a7;
  --hover-bg: #303335;
  --font-color: #f2f2f2;
  --button-shadow: #4d4d4d;
  --anchor :#EDEEEE ;
  --deleted-bg:#F05454;
  --delete_red:#272d35;
}

[dark-mode="light"] {
  --bg-main: #fff;
  --bg-note: #f2f2f2;
  --date: #555b6d;
  --hover-bg: #e7e7e7;
  --font-color: #16171b;
  --button-shadow: #525252;
  --anchor :#212528 ;
  --deleted-bg:#FD5E53;
  --delete_red:#F9FCFB;
}

body {
  width: 300px;
  height: 410px;
  background-color: var(--bg-main);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--font-color);
}

.container {
  width: 90%;
  height: 100%;
  justify-self: center;
  align-self: center;
  gap: 5px;
  display: grid;
  gap: 2px 0;
  grid-template-rows: 0.4fr 0.6fr 2.8fr 0.2fr;
}

.header {
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.head {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.head i {
  font-size: 18px;
  font-weight: 500;
  color: var(--font-color);
}
.head h1 {
  font-weight: 500;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  color: var(--font-color);
  /* letter-spacing: 2px; */
}

.right {
  display: flex;
  flex-direction: row;
  gap: 2px;
  justify-content: space-around;
  align-items: center;
}
.right i {
  font-size: 18px;
  cursor: pointer;
  padding: 10px;
  transition: 0.4s;
}
.right i:hover {
  background-color: var(--bg-note);
  border-radius: 5px;
}

.dark-mode {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.dark-mode i {
  font-size: 18px;
  font-weight: 500;
  color: var(--font-color);
}

.ri-sun-line,
.ri-moon-line {
  display: none;
}

[dark-mode="dark"] .ri-sun-line {
  display: inline;
}

[dark-mode="light"] .ri-moon-line {
  display: inline;
}

.add-new {
  grid-area: 2 / 1 / 3 / 2;
  background-color: var(--hover-bg);
  width: 110px;
  height: 37px;
  border-radius: 5px;
  outline: none;
  text-decoration: none;
  justify-self: center;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 3px 0px 0px #6d82995e;
}
.add-new:hover {
  background-color: var(--bg-note);
  box-shadow: none;
  transform: none !important;
}

.add-new i {
  justify-self: center;
  align-self: center;
  font-size: 28px;
}

.notes {
  grid-area: 3 / 1 / 4 / 2;
  overflow: scroll;
  scroll-behavior: smooth;
  overflow-x: hidden;
  height: 100%;
}

.notes .empty-status {
  width: 100%;
  height: 100%;
}
.notes .empty-status i {
  color: var(--date);
}

.notes .note {
  height: 65px;
  margin-bottom: 7px;
  width: 100%;
  padding: 7px 10px;
  border-radius: 5px;
  background-color: var(--bg-note);
  /* border-left: 4px solid #6D8299; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;
}
.notes .note:hover {
  background-color: var(--hover-bg);
}

.note .note-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.note-header {
  font-weight: bold;
  font-size: 17px;
}

.date {
  color: var(--date);
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  opacity: 45%;
}

.preview {
  font-weight: normal;
  font-size: 12px;
  
}

.footer {
  grid-area: 4 / 1 / 5 / 2;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer p {

  letter-spacing: 2px;
  justify-self: center;
  font-size: 8px;
  font-family: "Poppins", sans-serif;
}

.footer p a {
  letter-spacing: 1px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 9px;
  text-decoration: none;
  color: var(--anchor);
}

.footer p a:hover {
  opacity: 85%;
}

.notes::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.notes {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* * custom scroll bar */
::-webkit-scrollbar {
  width: 17px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
}
::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 50px;
  border: 6px solid transparent;
  background-clip: content-box;
}

.button {
  transition: 0.3s;
  cursor: pointer;
}

.hidden {
  display: none !important;
}

/* *ADD NEW NOTE PART* */

.add-new-note {
  width: 85%;
  height: 95%;
  justify-self: center;
  align-self: center;
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-template-rows: 0.3fr 0.4fr 2.3fr;
}
.controller {
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.controller i {
  font-size: 22px;
  cursor: pointer;
  transition: 0.4s;
  padding: 7px;
}
.controller i:hover {
  background-color: var(--bg-note);
  border-radius: 5px;
}

.note-header-area {
  grid-area: 2 / 1 / 3 / 2;
  text-align: center;
  justify-self: center;
  align-self: center;
}
.note-header-area input {
  width: 100%;
  height: 40px;
  color: var(--font-color);
  background-color: transparent;
  text-align: center;
  outline: none;
  border: none;
  font-weight: bold;
  font-size: 20px;
}
.note-header-area input::placeholder {
  opacity: 50%;
  font-weight: 500;
}
.note-header-area .note-date {
  color: var(--date);
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  font-size: 10px;
}
.note-text-area {
  grid-area: 3 / 1 / 4 / 2;
  height: 100%;
  /* margin-top: 5px; */
  text-align: right;
  margin-top: 5px;
}

.textarea {
  resize: none;
  height: 90%;
  width: 100%;
  color: var(--font-color);
  font-weight: normal;
  font-size: 15px;
  border: none;
  background-color: transparent;
  resize: none;
  outline: none;
}

.note-text-area span {
  height: 10%;
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  text-decoration: none;
  color: var(--button-shadow);
}

/*  */

/* *ABOUT AREA */

.about {
  width: 85%;
  height: 95%;
  justify-self: center;
  align-self: center;
  font-family: "Poppins", sans-serif;
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-template-rows: 0.2fr 2.5fr 0.3fr;
  gap: 1px 1px;
}

.about-header {
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.about-header i {
  font-size: 22px;
  cursor: pointer;
  transition: 0.4s;
  padding: 7px;
}

.about-header i:hover {
  background-color: var(--bg-note);
  border-radius: 5px;
}

.about-text-area {
  grid-area: 2 / 1 / 3 / 2;

  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-template-rows: 0.2fr 0.1fr 1.2fr 1fr;
  gap: 1px 1px;
}

.about-logo {
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.about-logo i {
  font-size: 23px;
  font-weight: 500;
  color: var(--font-color);
}
.about-logo h1 {
  font-weight: 500;
  font-size: 25px;
  font-family: "Poppins", sans-serif;
  color: var(--font-color);
  /* letter-spacing: 2px; */
}

.about-version {
  grid-area: 2 / 1 / 3 / 2;
  justify-self: center;
  align-self: flex-start;
  font-size: 11px;
  font-weight: 500;
  color: var(--date);
}

.about-info {
  grid-area: 3 / 1 / 4 / 2;

  width: 90%;
  justify-self: center;
  align-self: center;

  font-size: 14px;
  color: var(--font-color);
}
.about-buttons {
  grid-area: 4 / 1 / 5 / 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.about-buttons .about-btn {
  background-color: var(--bg-note);
  height: 40px;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4px;
  font-family: "Poppins", sans-serif;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  box-shadow: 0px 3px 0px 0px #6d82995e;
  transition: 0.3s;
  color: var(--font-color);
}
.about-buttons .about-btn p {
  font-weight: 700;
  font-size: 14px;
}
.about-buttons .about-btn i {
  font-size: 20px;
}

.about-buttons .about-btn:hover {
  background-color: var(--hover-bg);
  transform: none;
  box-shadow: none;
}

.about-footer {
  grid-area: 3 / 1 / 4 / 2;
  justify-self: center;
  align-self: flex-end;
  text-align: center;
}

.about-footer p {
  letter-spacing: 2px;
  justify-self: center;
  font-size: 10px;
  margin-bottom: 3px;
  font-family: "Poppins", sans-serif;
 
  text-align: center;
}

.about-footer p a {

  letter-spacing: 1px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 10px;
  text-decoration: none;
  color: var(--font-color);
}

.about-footer p a:hover {
  opacity: 80%;
}

/*  */

/* *I UNDERSTAND PAGE  */

.front-page {
  width: 85%;
  height: 95%;
  justify-self: center;
  align-self: center;
  font-family: "Poppins", sans-serif;
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-template-rows: 0.5fr 0.7fr 2fr 1fr;
  gap: 1px 1px;
}
.front-header {
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.front-header i {
  font-size: 23px;
  font-weight: 500;
  color: var(--font-color);
}
.front-header h1{
  font-weight: 500;
  font-size: 23px;
  font-family: "Poppins", sans-serif;
  color: var(--font-color);
  /* letter-spacing: 2px; */
}

.front-error {
  grid-area: 2 / 1 / 3 / 2;
  width: 100%;
  height: 100%;
  justify-self: center;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.front-error i{
  margin: 10px 0 0 0;
  color:#F05454;
  font-size: 50px;
}


.front-text {
  grid-area: 3 / 1 / 4 / 2;
  width: 90%;
  justify-self: center;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;

}
.front-text p{
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 12px;
}

.front-text p span{
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1.1px;
}



.front-button {
  grid-area: 4 / 1 / 5 / 2;
  justify-self: center;
  align-self: center;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
.front-button .front-btn{
  margin-top: 15px;
  background-color: var(--hover-bg);
  height: 40px;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-weight: bold;
  font-size: 13px;
  font-family: "Poppins", sans-serif;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 3px 0px 0px #6d82995e;
  transition: 0.4s;
  color: var(--font-color);
  letter-spacing: 1.1px;
}
.front-button .front-btn:hover {
  background-color: var(--bg-note);
  transform: none;
  box-shadow: none;
}

/*  */

/* **DELETED POPUP */

.deletepopup{
  position: fixed;

  top: 0;
  margin: auto;

  color: var(--delete_red);
  padding: 7px 13px;
  border-radius: 5px;
  background-color: var(--deleted-bg);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  -webkit-box-shadow: 0px 13px 25px -10px rgba(0,0,0,0.25); 
  box-shadow: 0px 13px 25px -10px rgba(0,0,0,0.25);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s,0.3s, visibility 0.3s;
  transform: translateY(-13px);
}
.deletepopup p{
  font-weight: bold;
}
.deletepopup i{
  font-size: 16px;
}

.p-visible{
  transform: translateY(13px);
  top: 0;

  opacity: 1;
  visibility: visible;
}

/* **DELETED POPUP  */
